@model AvansFysio.Models.Behandelplan

@{
    ViewData["Title"] = "Create";
    var patient = ViewData["ID"];

}


<div class="row container">
    <div class="container-header">

        <h2>Aanmaken Behandelplan</h2>
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BehandelPlanNaam" class="control-label">Behandel plan</label>
                <input asp-for="BehandelPlanNaam" class="form-control" />
                <span asp-validation-for="BehandelPlanNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duur" class="control-label">Duur van sessie</label>
                <input asp-for="Duur" class="form-control" />
                <span asp-validation-for="Duur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hoeveel" class="control-label">Hoeveel keer per week</label>
                <input asp-for="Hoeveel" class="form-control" />
                <span asp-validation-for="Hoeveel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label">Patient ID</label>
                <input asp-for="PatientId" class="form-control" value="@patient" readonly />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-form" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
