@model IEnumerable<AvansFysio.Models.Vektislijst>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="VoegPatient">
        <button type="button" class="btn btn-success">Toevoegen Patient</button>
    </a>
    <h1>Lijst Van Patiënten</h1>
    <div class="text-center p-2">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>ID</th><th>Patient</th><th>Omschrijving klachten globaal</th><th>DiagnoseCode</th><th></th></tr>
            </thead>
            <tbody>
                @foreach (AvansFysio.Models.Vektislijst r in Model)
                {
                    <tr>
                        <td>@r.Code</td>
                        <td>@r.lichaamslocalisatie</td>
                        <td>@r.pathologie</td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
