@model AvansFysio.Models.Behandelplan

@{
    ViewData["Title"] = "Create";
    var patient = ViewData["PatientId"];

}

<h1>Create</h1>

<h4>Behandelplan</h4>
<hr />
<div class="row" role="grid">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BehandelPlanNaam" class="control-label"></label>
                <input asp-for="BehandelPlanNaam" class="form-control" />
                <span asp-validation-for="BehandelPlanNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duur" class="control-label"></label>
                <input asp-for="Duur" class="form-control" />
                <span asp-validation-for="Duur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hoeveel" class="control-label"></label>
                <input asp-for="Hoeveel" class="form-control" />
                <span asp-validation-for="Hoeveel" class="text-danger"></span>
            </div>
            @patient
            <h1>@patient</h1>
            <input asp-for="Patient" value="@patient"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
