@model AvansFysio.Models.Opmerkingen

@{
    ViewData["Title"] = "Edit";
}


<div class="row container">
    <div class="container-header">

        <h2>Opmerkingen</h2>
    </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Opmerking" class="control-label"></label>
                <input asp-for="Opmerking" class="form-control" />
                <span asp-validation-for="Opmerking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" value="@DateTime.Now.Date.ToString("dd/MM/yyyy")" readonly class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpmerkingenGemaaktDoor" class="control-label"></label>
                <input asp-for="OpmerkingenGemaaktDoor" class="form-control" />
                <span asp-validation-for="OpmerkingenGemaaktDoor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZichtbaarVoorPatiënt" class="control-label"></label>
                <input asp-for="ZichtbaarVoorPatiënt" class="form-control" />
                <span asp-validation-for="ZichtbaarVoorPatiënt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success btn-form" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="~/patient/details/@Model.Id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
